.container {
  display: flex;
  margin: auto;
  padding: 1vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.temperatura {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px black;
  animation: colores 5s linear infinite;
}

@keyframes colores {
  0% {
    box-shadow: 0px 0px 15px black;
  }

  50% {
    box-shadow: 0px 0px 5px rgb(0, 38, 252);
  }
  100% {
    box-shadow: 0px 0px 15px black;
  }
}
