<router-outlet></router-outlet>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand m-3" href="#">
      <img src="assets/logo.JPG" alt="" width="100" height="70" />
    </a>
    <a class="navbar-brand" href="#">Tecno Logic</a>
  </div>
</nav>

<div class="row">
  <div class="card mt-5 text-center col-md-8 mx-auto" style="width: 18rem">
    <div class="card-body">
      <h2 class="card-text temperatura mx-auto m-3">
        {{ datos.hola }}
      </h2>
      <h3>Temperatura</h3>
      <h5 class="card-title">Secure Distance</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Universidad distrital Francisco Jose de Caldas
      </h6>
      <p class="card-text">Proyecto Transversal 4°</p>
      <h5>Universidad distrital Francisco Jose de Caldas</h5>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Tecno Logic
          </h6>
          <p>
            Este proyecto esta basado con la implementacion del tiempo real y
            para la lectura de datos importantes para poder contrarrestar la
            propagacion del Covid-19
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-capitalize fw-bold mb-1">Integrantes</h6>
          <p>NICOLAS ENRIQUE RUIZ VEGA - 20192573018</p>
          <p>PAULA MARCELA ARAGONÉS MURCIA - 20192573030</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-capitalize fw-bold mb-1">Integrantes</h6>

          <p>DIANA VALENTINA MORALES GONZÁLEZ - 20192573024</p>
          <p>DANIELA ESPERANZA PACHÓN MÁRQUEZ - 20181573106</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright: Tecno Logic
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
